.IconButton {
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  font: inherit;
  background-color: #424db2;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.IconButton:hover {
  background: #0719b4;
}
